*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Monterrat", sans-serif;
  margin: 0;
  padding: 0;
}

.list {
  --spacing: 10px;
  display: flex;
  /* Horizontal */
  /* align-items: stretch; Default*/
  /* align-items: flex-start; */
  /* align-items: flex-end; */
  /* align-items: center; */
  /* align-items: baseline; */
  /* Canh theo bước chữ của dòng đầu tiên */

  /* Vertical */
  /* justify-content: flex-end; */
  /* justify-content: flex-start; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */

  flex-wrap: wrap;
  margin: 0 calc(var(--spacing) * (-1));
}

.list__item {
  margin: 0 var(--spacing);
  /* width: 30%; */
  width: calc(33.33% - var(--spacing) * 2);
  /* spacing 2 bên nên * 2 */
}