body,
html {
  font-size: 62.5%;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;

  $color: #ff4754;

  li {
    padding: 2rem;
    border-radius: 0.2rem;
  }

  @for $i from 1 to 6 {
    li:nth-child(#{$i}) {
      background-color: lighten($color, $i * 5%);
    }
  }
}
